 h1 { 
    font-family: 'Vibes', cursive;
    color: yellowgreen;
    text-shadow: 2px 2px 2px; 
    font-size: 48px; 
 }

 body {
     margin: auto;
     text-align: center;
 }
 table {
    font-family: impact, sans-serif;
    border-collapse: collapse;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  td, th {
    border: 1px solid yellowgreen;
    text-align: left;
    padding: 8px;
  }

  p { 
    font-family: fantasy, sans-serif;
    font-size: 16px;
    margin-right: 25%;
    margin-left: 25%;
  }

img {
    border: 2px solid darkgrey;
    border-radius: 5px; 
    padding: 5px; 
    
}
